<center>
<h1>Requests</h1>
<%= flash[:notice]%>
<table>
    <tr>
        <td>
            <table style="text-align: center; border: 2px solid black; width: 300px">
                <tr>
                    <th>Requests I've Made</th>
            
                </tr>
                <tr>
                    <td>Request 1</td>
              
                </tr>
                <tr>
                    <td>Request 2</td>
                   
                </tr>
                    <tr>
                    <td>Request 3</td>
                
                </tr>
            </table>
        </td>
   
        <td>
            <table style="text-align: center; border: 2px solid black; width: 300px">
                <tr>
                    <th>Requests I've Received</th>
                   
                </tr>
                <tr>
                    <td>Request 1</td>
                   
                </tr>
                <tr>
                    <td>Request 2</td>
                  
                </tr>
                    <tr>
                    <td>Request 3</td>
                 
                </tr>
            </table>
        </td>
    </tr>
</table>


</center>