<center>
  <h3>Log in to DreamBnB</h3>
  <h3 style='color:red;'><%= flash[:notice] %></h3>
  <form action='/sessions' method='post'>
    Email:
    <br>
    <input type='text' name='email'/>
    <br>
    Password:
    <br>
    <input type='password' name='password'/>
    <br>
    <input type='submit' name='login' value='Log in'/>
  </form>
</center>
