<form action="/sessions/logout" method='post'>
    <button>Log out</button>
</form>

<form action="/requests" method='get'>
    <button>Requests</button>
</form>

<form action="/spaces/new" method="get">
    <input type="submit" value="List a Space" >
</form>

<% @spaces.each do |space| %>
<ul>
    <li><a href="/spaces/<%= space.id %>" >
    <%= space.name %> </a></li>
    <li><%= space.description %></li>
    <li><%= space.price %></li>
</ul>

<% end %>
